.list {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    counter-reset: li;
}

.list li {
    border: 2px solid #DDDDDD;
    background: #FAFAFA;
    position: relative;
    margin-bottom: 20px;
    padding: 16px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.list li:hover {
    z-index: 1;
    border: 2px solid #ADCEE9;
}

.list li:before {
    border: 2px solid #ADCEE9;
    position: absolute;
    top: -14px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #337AB7;
    background: #F7FAFD;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.list li:hover:before {
    border: 2px solid #337AB7;
    background: #337AB7;
    color: #FFF;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

.list li:after {
    content: "";
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: width;
    transition-property: width;
    z-index: -1;
    background: #F0F5FB;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.list li:hover:after {
    width: 100%;
}

.button-8 {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 20px 20px 0 20px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}
