.user-list {
    margin: 20px 0 0 50px;
    padding: 0;
    list-style: none;
    counter-reset: li;
}

.user-list li {
    border: 2px solid #243b55;
    background: #2c5777;
    position: relative;
    margin-bottom: 20px;
    padding: 16px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.user-list li:hover {
    z-index: 1;
    border: 2px solid black;
}

.user-list li:before {
    border: 2px solid black;
    position: absolute;
    top: -14px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #337AB7;
    background: black;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.user-list ul li:hover:before {
    border: 2px solid #337AB7;
    background: #337AB7;
    color: black;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}

.user-list li:after {
    content: "";
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: width;
    transition-property: width;
    z-index: -1;
    background: black;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}

.user-list li:first-child {
    margin-top: 10px;
}

.user-list li:hover:after {
    width: 100%;
}

#buttons {
    display: flex;
    justify-content: flex-end;
}

#buttons .choice-button {
    margin-right: 4px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px
}

#buttons .choice-button {
    background: brown;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px brown,
    0 0 25px brown,
    0 0 10px brown,
    0 0 2px brown;
}

