* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: white;
    background-size: 100%;
}

html {
    height: 100%;
}

#nav-bar button {
    background: #2c5777;
}

#nav-bar li.nav-bar {
    list-style-type: none;
    margin: 0 50px 0 50px;
    display: inline-block;
}

a {
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
}

a:hover {
    color: beige;
}

#nav-bar ul {
    text-align: center;
    margin-top: 10px;
}

#mocha-stats a, em, li, canvas {
    color: white !important;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #1f1d1e;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: darkgray;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
}